@inject NavigationManager Nav

<p>Требуется вход…</p>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Nav.NavigateTo("/login", forceLoad: true);
        }
    }
}
